/* Tablet */
@media all and (max-width: 1000px) {
    .menu-text h2 {
        font-size: 35px;
        letter-spacing: 1px;
    }

    .menu-text p {
        line-height: 1em;
    }

    .cardteam {
        flex-wrap: wrap;
    }

    .cardteam .card {
        width: 25%;
        margin: 10px 15px;
    }

    .contact-left {
        width: 20%;
        margin-left: 50px;
    }

    .contact-right {
        width: 50%;
        margin-right: 50px;
    }

}

/* For Smartphones */
@media all and (max-width: 670px) {
    .menu {
        padding: 20px;
        flex-wrap: wrap;
        border-radius: 25px;
    }

    .menu-text {
        padding: 0 20px;
        font-size: 14px;
    }

    .menu-img img {
        padding: 20px;
        width: 50%;
    }

    .cardteam {
        flex-direction: column;
    }

    .cardteam .card {
        width: 75%;
        margin: 10px auto;
    }

    .contact-container {
        flex-wrap: wrap;
    }

    .contact-left {
        margin-left: 0px;
    }

    .contact-right {
        margin-right: 0px;
    }

}