/* Tablet */
@media all and (max-width: 1000px) {
    .menu-text h2 {
        font-size: 35px;
        letter-spacing: 1px;
    }

    .menu-text p {
        line-height: 1em;
    }

    .cardteam {
        flex-wrap: wrap;
    }

    .cardteam .card {
        width: 25%;
        margin: 10px 15px;
    }

    .contact-right {
        width: 20%;
        margin-right: 50px;
    }

    .contact-left {
        width: 20%;
        margin-left: 50px;
    }

    .hero {
        margin-left: 5%;
        margin-right: 5%;
    }

    .hero-text-contents h1 {
        font-size: 56px;
    }

    .hero-text-contents p {
        font-size: 22px;
    }

    .btn-container .btn-primary {
        font-size: 20px;
    }

}

/* For Smartphones */
@media all and (max-width: 670px) {
    .header-right-btn-group {
        display: none;
    }

    .button-hamburger {
        display: block;
        padding: 22px 20px 22px 0px;
    }

    .button-hamburger .more-menu-icon {
        width: 20px;
        height: 20px;
    }

    .header-left h1 {
        font-family: SF Display;
        padding: 10px 58% 10px 30px;
    }

    .menu {
        padding: 20px;
        flex-wrap: wrap;
        border-radius: 25px;
    }

    .menu-text {
        padding: 0 20px;
        font-size: 14px;
    }

    .menu-img img {
        padding: 20px;
        width: 50%;
    }

    .cardteam {
        flex-direction: column;
    }

    .cardteam .card {
        width: 75%;
        margin: 10px auto;
    }

    .contact-container {
        flex-wrap: wrap;
    }

    .contact-container .contact-right {
        margin: 0px 30px;
        font-size: 10px;
    }

    .contact-left {
        margin: 0px 30px;
    }


    li span {
        margin-top: 0px;
    }

    .hero {
        margin-left: 5%;
        margin-right: 5%;
    }

    .hero-text-contents h1 {
        font-size: 48px;
    }

    .hero-text-contents p {
        font-size: 18px;
    }

    .btn-container .btn-primary {
        font-size: 18px;
    }
}