/* Tablet */
@media all and (max-width: 1000px) {
    .menu-text h2 {
        font-size: 35px;
        letter-spacing: 1px;
    }

    .menu-text p {
        line-height: 1em;
    }

    .cardteam {
        flex-wrap: wrap;
    }

    .cardteam .card {
        width: 25%;
        margin: 10px 15px;
    }

    .contact-left {
        width: 20%;
        margin-left: 50px;
    }

    .contact-right {
        width: 50%;
        margin-right: 50px;
    }

}

/* For Smartphones */
@media all and (max-width: 670px) {
    .button-group-header{
        display: none;
    }

    .button-hamburger {
        display: block;
        padding: 20px;
    }
    
    .button-hamburger .more-menu-icon{
        width:20px;
        height:20px;
    }

    .header-left h1{
        font-family: SF Display;
        padding:10px 58% 10px 30px;
    }

    .menu {
        padding: 20px;
        flex-wrap: wrap;
        border-radius: 25px;
    }

    .menu-text {
        padding: 0 20px;
        font-size: 14px;
    }

    .menu-img img {
        padding: 20px;
        width: 50%;
    }

    .cardteam {
        flex-direction: column;
    }

    .cardteam .card {
        width: 75%;
        margin: 10px auto;
    }

    .contact-container {
        flex-wrap: wrap;
    }

    .contact-container .contact-left {
        margin-left: 0px;
        border-radius: 0px;
    }

    .contact-container .contact-right {
        margin-right: 0px;
        border-radius: 0px 0px 15px 15px;
    }

    .hero {
        margin-left:5%;
        margin-right: 5%;
    }

    .hero-text-contents h1{
        font-size: 48px;
    }

    .hero-text-contents p{
        font-size: 18px;
    }

    .btn-container .btn-primary {
        font-size: 18px;
    }
}