* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbe6d4;
}

.container {
  width: 100%;
  background-color: #fbe6d4;
}

/** header */
header {
  background-color: rgba(34, 49, 52, 0.9);
  filter: drop-shadow(rgba(0,0,0,0.7) 10px 20px 20px);
  color:#ffa931;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 65px;
  padding: 0px 40px;
  box-sizing: border-box;
}

.header-right .header-right-btn {
    padding: 22px;
    font-weight: bold;
    background-color: transparent;
    border-width: 0px;
    color: #ffa931;
    transition: all 0.2s;
  }
  
  .header-right .header-right-btn:hover {
    font-size: 13px;
    background-color: transparent;
  }

.logos {
  float: left;
  margin-top: 8px;
  padding-left: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

/* .header-right a {
  float: left;
  display: block;
  line-height: 65px;
  padding: 0 25px;
  color:#ffa931;
  transition: all 0.2s;
} */

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-hamburger {
    display:none;
}


/** hero */
.hero-wrapper {
  position: relative;
}

.hero {
  padding: 70px 0px;
  margin-left: 15%;
  margin-right: 15%;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
}

.bg-image {
  width: 100%;
  position: relative;
}

.background-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 50%;
}

.hero-text-contents {
  padding: 0 40px;
  font-family: SF Display;
  flex: auto;
  color: black;
}

.hero-text-contents h1 {
  /* font-family: SF Display; */
  font-size: 68px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero-text-contents p {
  font-family: "SF Text";
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.btn-container {
  padding: 50px 0px 50px 0px;
}

.btn-container .btn-primary {
  width: 30%;
  height: 50px;
  position: relative;
  left: 35%;
  right: 35%;
  font-family: SF Display;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border-width: 0px 0px 2px 0px;
  border-color: rgba(0, 0, 0, 1);
  /* border-radius: 10px; */
  transition: all, 0.5s;
}

.btn-container .btn-primary:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 10px 10px 40px;
  border-width: 0px;
  background-color: #ffa931;
  color: white;
}



/** menu */
.menu-wrapper {
  padding: 0 50px;
  text-align: center;
  margin-top: 30px;
}

.menu {
  padding: 30px;
  margin-bottom: 30px;
  background-color: whitesmoke;
  display: flex;
  border-radius: 50px;
  transition: all 0.5s;
}

.menu-heading {
  margin: 50px 0px;
  font-family: "SF Text";
  color: #605f66
}

.menu-heading p:first-of-type {
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;

}

.menu-heading p:last-of-type {
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: 0.15em;
}

.menu-text {
  padding: 0 40px;
  flex: auto;
}

.menu-text h2 {
  font-family: SF Display;
  /* margin-bottom: 20px; */
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.menu-text h4 {
  font-family: SF Display;
  color: #ffa931;
}

.menu-text p {
  font-family: "SF Text";
  /* font-size: 20px; */
  opacity: 0.7;
  line-height: 2em;
  margin-top: 20px;
}

.menu-img {
  flex: auto;
}

.menu-img img {
  width: 100%;
  filter: drop-shadow(#fecb89 10px 20px 20px);
  transition: all 0.5s;
}

.menu:hover .menu-img img {
  filter: drop-shadow(#fecb89 10px 20px 20px);
  transform: rotate(10deg);
}

.menu:hover {
  box-shadow: 0px 0px 25px rgba(100, 102, 93, 0.2);
}

/* Team */

.pteam {
  padding: 0 40px;
  color: #605f66;
  text-align: center;
}

.pteam-heading {
  margin: 50px 0px;
  font-family: "SF Text";
}

.pteam-heading p:first-of-type {
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
}

.pteam-heading p:last-of-type {
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: 0.15em;
}

.cardteam {
  display: flex;
}

.card {
  flex: auto;
  border-radius: 10px;
  margin: 15px;
  width: 240px;
  padding: 25px;
  box-sizing: border-box;
  background-color: whitesmoke;
  transition: 300ms;
}

.card:hover {
  transform: scale(00.5s);
  box-shadow: 0px 0px 25px rgba(100, 102, 93, 0.2);
}

.card p {
  font-family: "SF Text";
  color: #ffa931;
}

.card img {
  border-radius: 50%;
  border-style: dotted;
}

.name {
  padding-top: 15px;
  font-weight: bold;
  font-size: 16px;
}

.motto {
  color: #01000c;
  font-size: 16px;
  padding: 15px 0;
  line-height: 20px;
}

.motto q {
  color: #000000;
}

hr {
  display: block;
  border-style: groove;
}

.sosmed a {
  display: inline-block;
  margin: auto 0;
  padding: 0 2.5px;
}

.sosmed img {
  border-style: hidden;
  width: 35px;
}

.contact-container {
  display: flex;
  justify-content: center;
  font-family: "Open Sans Condensed", arial, sans;
  width: auto;
  margin: 50px 0;
}

.contact-container .contact-left {
  font-family: "Open Sans Condensed", arial, sans;
  width: 400px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}

.contact-container .contact-right {
  font-family: "Open Sans Condensed", arial, sans;
  width: 400px;
  padding: 30px;
  background: #fecb89;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  clip-path: inset(-15px -15px -15px 0px);
  border-radius: 15px;
}

.contact-container h4 {
  background: #4d4d4d;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.form-style input[type="text"],
.form-style input[type="email"],
.form-style textarea,
.form-style select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.form-style textarea {
  resize: none;
  overflow: hidden;
}

.form-style input[type="button"],
.form-style input[type="submit"] {
  background-color: #ffa931;
  border: 1px solid #ffa931;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.form-style input[type="submit"]:hover {
  background: linear-gradient(to bottom, #fecb89 5%, #fecb89 100%);
  background-color: #fecb89;
}

ul {
  margin-top: 45px;
  list-style-type: none;
  padding-inline-start: 7px;
}

li {
  margin-top: 50px;
  display: flex;
}

li span {
  margin-top: 5px;
  font: 16px Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

footer{
  background-color: rgba(34, 49, 52, 0.9);
  color:#ffa931;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  padding: 25px 0px;
}

footer span {
	font-family: "Brush Script MT";
	font-size:30px;
}

footer p{
    font-family: serif;
    font-size: 18px;
    text-align: center;
    letter-spacing:5px;
}
