* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbe6d4;
}

.container {
  padding: 0 50px;
}

.menu-wrapper {
  text-align: center;
  margin-top: 30px;
}

.menu {
  padding: 30px;
  margin-bottom: 30px;
  background-color: white;
  display: flex;
  border-radius: 50px;
  transition: all 0.5s;
}

.menu-text {
  padding: 0 40px;
  flex: auto;
}

.menu-text h2 {
  /* margin-bottom: 20px; */
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.menu-text h4 {
  color: #ffa931;
}

.menu-text p {
  /* font-size: 20px; */
  opacity: 0.7;
  line-height: 2em;
  margin-top: 20px;
}

.menu-img {
  flex: auto;
}

.menu-img img {
  width: 100%;
  filter: drop-shadow(#fecb89 10px 20px 20px);
  transition: all 0.5s;
}

.menu:hover .menu-img img {
  filter: drop-shadow(#fecb89 10px 20px 20px);
  transform: rotate(10deg);
}

.menu:hover {
  box-shadow: #b9ac92 10px 10px 40px;
}

.pteam {
  padding: 0 40px;
  color: #605f66;
  text-align: center;
}

.pteam-heading {
  margin: 50px 0px;
}

.pteam-heading p:first-of-type {
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
}

.pteam-heading p:last-of-type {
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
  letter-spacing: 0.15em;
}

.cardteam {
  display: flex;
}

.card {
  flex: auto;
  border-radius: 10px;
  margin: 15px;
  width: 240px;
  padding: 25px;
  box-sizing: border-box;
  background-color: rgba(250, 250, 250, 0.2);
  transition: 300ms;
}

.card:hover {
  transform: scale(00.5s);
  box-shadow: 0px 0px 25px rgba(100, 102, 93, 0.20);
}

.card p {
  color: #140eb6;
}

.card img {
  border-radius: 50%;
  border-style: dotted;
}

.name {
  padding-top: 15px;
  font-weight: bold;
  font-size: 16px;
}

.motto {
  color: #01000C;
  font-size: 16px;
  padding: 15px 0;
  line-height: 20px;
}

.motto q {
  color: #000000;
}

hr {
  display: block;
  border-style: groove;
}

.sosmed a {
  display: inline-block;
  margin: auto 0;
  padding: 0 2.5px;
}

.sosmed img {
  border-style: hidden;
}

.contact-container {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans Condensed', arial, sans;
  width: auto;
  margin: 50px 0;

}

.contact-container .contact-left {
  font-family: 'Open Sans Condensed', arial, sans;
  width: 400px;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}

.contact-container .contact-right {
  font-family: 'Open Sans Condensed', arial, sans;
  width: 400px;
  padding: 30px;
  background: #f1b76ab0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  clip-path: inset(-15px -15px -15px 0px);
  border-radius: 15px;
}

.contact-container h4 {
  background: #4D4D4D;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.form-style input[type="text"],
.form-style input[type="email"],
.form-style textarea,
.form-style select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.form-style textarea {
  resize: none;
  overflow: hidden;
}

.form-style input[type="button"],
.form-style input[type="submit"] {
  background-color: #2CBBBB;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.form-style input[type="submit"]:hover {
  background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
  background-color: #34CACA;
}

ul {
  list-style-type: none;
  padding-inline-start: 7px;
}

li {
  margin-top: 20px;
}

li span {
  font: 16px Arial, Helvetica, sans-serif;
  padding-left: 10px;
}