* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbe6d4;
}

.container {
    padding: 0 50px;
}
/** menu */
.menu-wrapper {
    text-align: center;
    margin-top: 30px;
    
}

.menu {
    padding: 30px;
    margin-bottom: 30px;
    background-color: white;
    display: flex;
    border-radius: 50px;
    transition: all 0.5s;
}

.menu-text {
    padding: 0 40px;
    flex: auto;
}

.menu-text h2 {
    font-family: SF Display;
    /* margin-bottom: 20px; */
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.menu-text h4 {
    font-family: SF Display;
    color: #ffa931;
}

.menu-text p {
    font-family: SF Display;
    /* font-size: 20px; */
    opacity: 0.7;
    line-height: 2em;
    margin-top: 20px;
}

.menu-img {
    flex: auto;
}

.menu-img img {
    width: 100%;
    filter: drop-shadow(#fecb89 10px 20px 20px);
    transition: all 0.5s;
}

.menu:hover .menu-img img {
    filter: drop-shadow(#fecb89 10px 20px 20px);
    transform: rotate(10deg);
}

.menu:hover {
    box-shadow: #b9ac92 10px 10px 40px;
}

/** hero */
.hero {
    padding: 0px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.hero-text-contents {
    padding: 0 40px;
    flex: auto;
}

.hero-text-contents h1 {
    font-family: SF Display;
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.hero-text-contents p{
    font-family: SF Display;
    font-size: 20px;
    font-weight: normal;
    text-align:center;
}

.btn-container {
    padding: 20px 0;
}

.btn-container .btn-primary {
    width:40%;
    height:50px;
    position: relative;
    left:30%;
    right:30%;
    font-family: SF Display;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}